.*.sw?
.idea
terragrunt.iml
vendor
.terraform
.vscode
*.tfstate
*.tfstate.backup
*.out
.terragrunt-cache
.bundle
.ruby-version
terragrunt
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
old
terragrunt-debug.tfvars.json
localstack-secrets.env
.env
