.amplify-tabs {
  display: none;
}
.amplify-button {
  font-family: Arial, Helvetica, sans-serif;
}
.amplify-label {
  font-family: Arial, Helvetica, sans-serif;
}
.amplify-heading {
  font-family: Arial, Helvetica, sans-serif;
}
.amplify-input {
  font-family: Arial, Helvetica, sans-serif;
}
